
html, body {margin: 0; height: 100%;}



div.header {
    background-color: transparent;
    font-family: serif;
    margin-left: 3%; 
    
 } 

div.site-logo{
	margin-top: 10%;
	
}
div.site-logo img{
	width: 60px;
	height: 60px;
	border-radius: 100px;
	position: absolute;
	filter: contrast(150%)
}
div.site-title-info h2{
  font-family: 'Roboto', sans-serif;
}

 h2 { font-size: 40px; margin-left: 80px; margin-top: 0px; }

div.header h2 a{
	color: White;
	font-weight: bold;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

 div.header-nav-bar{
 	background-color: #transparent;
    
 	
 }

 .header-nav-bar ul {

 	margin-top: 0px;
 	padding: 8px;
 	float: left;
	background-color: transparent;
	font-family: tempus sans itc;
 }

 li{
 	
 	display: inline;
    
 }

div.header-nav-bar a{
	color: white;
	font-weight: bold;
	font-size:20px;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
    font-family: Arial;
}


div.header-entry{
 color: white;
 position: fixed;
 bottom: 0;
 margin-left: 10%;
 margin-right: 60px;

}

div.header-entry h1{

	font-size: 5em;
	font-family: Arial;

	
}
div.Container-item{
	margin-left: 10%;
    font-family: ariel;
    font-weight: normal;

}

div.Container-item-list a{
	text-decoration: none;
	color: black;
	font-size: 2em;
	font-weight: normal;
	-webkit-tap-highlight-color: transparent;
}

div.Container-item-list{
   margin-top: 15%;
   margin-right: 5%;
}

div.Container-item-list h4{
	font-weight: normal;
	font-size: 1em;

}
div.site-info {
 color: grey;
 padding: 5%;
 text-align: center;
 margin-top: 10%;

}

div.site-info h3{
 font-family: 'Antic', sans-serif;
 font-size: 10px;
 color: black;
 font-weight: bold;


}
div.site-info h4{
	font-family: 'sen';
	color: grey;
	font-size: 8px;
	font-weight: normal;
}
div.bg{
	background-image: url("conf.jpg");
	background-color: black;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: contrast(200%)
	
}


div.row{
    background: rgba(50,0,0, 0.5);
    overflow: hidden;
    height: 100%;
}
div.content-space-area p{

	font-size: 1em;
	font-style: italic;
	color: rgb(255,0,0);
	font-weight: bold;
	text-shadow: 1px 1px black;
	font-family: 'Lato', sans-serif;
}

div.content-space-area{
    margin-top: 30%;
    margin-left: 10%;
    margin-right: 5%;

}


@media (min-width:1025px){

div.header {
    padding: 30px;
    margin-left: 90px;
}
.header-nav-bar ul {

 	margin-left: 65px;

 }
div.site-logo{
	margin-top: 100px;
	
}

div.site-info{
	margin-left: 12%;
	padding: 80px;
	margin-bottom: 0px;
	margin-top: 0px;
}

div.site-info h3{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: black;
	text-align: left;

}
div.site-info h4{
	font-family: 'sen';
	color: grey;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}
 .header-nav-bar ul {

 	margin-left: 65px;

 }
div.header-entry h1{
	font-size: 100px;
}
div.header-entry{
 color: white;
 position: fixed;
 bottom: 0;
 margin-left: 60px;
 margin-right: 60px;

}
div.Container-item{
    margin-left: 200px;
    }
div.Container-item-list a{
	font-size: 40px;
}
div.Container-item-list h4{
	font-weight: normal;
	font-size: 1em;
}
div.Container-item-list{
   margin-top: 70px;
}

 h2 { font-size: 40px; margin-left: 80px; margin-top: 0px; }

div.header-entry{
 margin-left: 60px;
}
div.content-space-area p{

	font-size: 20px;
	font-style: italic;
	color: rgb(255,0,0);
	font-weight: bold;
	text-shadow: 1px 1px black;
	font-family: 'Lato', sans-serif;
}
div.content-space-area{

	margin-left: 20em;
	margin-top: 10em;
	margin-bottom: 7em;
}


 }